@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
:root{
   --dark-violet: hsl(256, 26%, 20%);
   --grayish-blue:hsl(216, 30%, 68%);
   --vary-dark-violet: hsl(270, 9%, 17%);
   --dark-grayish-violet: hsl(273, 4%, 51%);
   --light-gray: hsl(0, 0%, 98%);
}
/* font-family: "DM Serif Display", serif; */
 .btn-primary{
   font-size: 14px;
   display: inline-block;
   text-decoration: none;
   color: var(--light-gray); 
   border: solid 2px var(--light-gray);
   padding: 7px 24px;
}
.btn-primary:hover{
    transition: all .3s ease;
   background-color: var(--light-gray);
   color:var(--dark-violet);

}
#home .btn-primary{
   font-size: 14px;
   display: inline-block;
   text-decoration: none;
   color: var(--light-gray); 
   border: solid 2px var(--light-gray);
   padding: 7px 24px;
   width: 130px;
} 
#home .btn-primary:hover{
   background-color: var(--dark-violet);
   color: var(--light-gray);
}

li{
   list-style: none;
}
 

.container{
   max-width: 1000px;
   margin: auto;
}
.line{
   width: 200px;
   height: 2px;
 background-color: var(--light-gray);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-size: 16px;
   font-family: "Karla", sans-serif;
   
}
/* navbar start */
.humMneu{
   display: none;
   position: absolute;
   padding-right: 2rem;
   cursor: pointer;
}
#navbar{
   background-color: var(--light-gray);
   position: relative;
}
nav{

   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   max-width: 1000px;
   margin: auto;
}
nav ul{
   display: flex;
   justify-content: space-between;
   list-style: none;
   gap: 2rem;
}
nav ul li a{
   color: var(--dark-grayish-violet);
   text-decoration: none;
}
nav ul li a:hover{
   transition: all 0.3s ease;
   color: var(--dark-violet);
}
nav ul li:last-child a{
   border: solid 1px var(--dark-violet);
   padding: 8px 20px;
   color: var(--dark-violet);
}
nav ul li:last-child a:hover{
   transition: all 0.3s ease;
   background-color: var(--dark-violet);
   color: var(--light-gray);
}
/* navbar end */
/* home start */

#home{
background-color: var(--dark-violet);
height: auto;
position: relative;
}
#home .home-cotect{
  max-width: 1000px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 5rem;
   gap: 2rem;
}
#home .home-cotect img{
   width: 100vh;
}
.container-left{
   max-width: 550px;
   display: flex;
   flex-direction: column;
   align-self: start;
}

.container-left h1{
   font-weight: 400;
   font-size: 65px;
   color: var(--light-gray);
   font-family: "DM Serif Display", serif;
   margin-top: 2.5rem;
   line-height: 1;
}

.container-left p{
   line-height: 1.5;
   color: var(--light-gray);
   margin: 20px 0;
}

#home::before{
   content: "";
   position: absolute;
   top: 22rem;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../insure-landing-page-master/images/bg-pattern-intro-left-desktop.svg);
   background-repeat: no-repeat;
}
#home::after{
   content: "";
   position: absolute;
   top: 0;
   right:0 ;
   width: 25%;
   height: 100%;
   background-image: url(./images/bg-pattern-intro-right-desktop.svg);
   background-repeat: no-repeat;
}
/* home end */
/* how we work start */
#HOW-WE-WORK{
margin-top: 15rem;

}


#HOW-WE-WORK h2{
   font-size: 3rem;
   font-weight: 400;
   font-family: "DM Serif Display", serif;
}
#HOW-WE-WORK .line{
   width: 200px;
   height: 2px;
   background-color: var(--dark-grayish-violet);
}
#HOW-WE-WORK .row{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 3rem 0;
   gap: 1rem;
}
#HOW-WE-WORK .card{
   padding: 10px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#HOW-WE-WORK .card h3{
   margin: 10px;
}
.more-how-we-work{
   margin: 4rem 0;
}
.more-how-we-work-contect{
   background-color: var(--dark-violet);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:3rem  4rem ;
   position: relative;
}

.more-how-we-work-contect h1{
   font-family: "DM Serif Display", serif ;
   font-size:45px ;
   color: var(--light-gray);
   line-height: 1.5;
   font-weight: 400;
}
.more-how-we-work-contect::after{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 30%;
   height: 100%;
   background-image: url(./images/bg-pattern-how-we-work-desktop.svg) ;
   background-repeat: no-repeat;
   z-index: 1;
}
/* how we work end */

/* <!-- footer start --> */

#footer{
   background-color: var(--light-gray);
   margin-top: 5rem;
   height: 50vh;
   position: relative;
   z-index: 0;
}
#footer::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 30%;
   height: 100%;
   background-image: url(./images/bg-pattern-footer-desktop.svg);
   background-repeat: no-repeat;
   z-index: 1;
}
.footer-head{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
.footer-head ul{
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

.footer-line{
   height: 2px;
   width: 100%;
   background-color:#6d6d6d9d;
}
.footer-body{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding-top: 2rem;
}
.contact{
   gap: 1rem;
}
.Contact h4{
   font-size: 15px;
   color: var(--grayish-blue);
}
.Contact a{
   color:var(--vary-dark-violet);
   text-decoration: none;
   font-size: 12px;
}
.footer-body ul li a:hover{
   transition: all .3s ease;
   color: tomato;
}
/* footer end */
/* responsive start */
/* Taplt view start */
@media (max-width:1024px){
   .container{
      max-width: 900px;
      margin: auto;

   }
   nav{
      max-width: 900px;
   }
   .line{
      display: none;
   }
   #home .container{
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0;
   }
   #home .home-cotect{
      text-align: center;

      flex-direction: column-reverse;
      gap: 0;
      padding-top: 0;
   }

   #home .home-cotect .container-left{
      padding: 5rem 2rem;

   }
   #home .home-cotect .container-left h1{
      margin-top: 0;
   }
   #home .home-cotect .container-left .btn-primary{
      margin: auto;
   }
   #HOW-WE-WORK h2{
      text-align: center;

   }
#HOW-WE-WORK .row{
   grid-template-columns:1fr;
   text-align: center;
}

.more-how-we-work-contect{
   text-align: center;
   flex-direction: column;
}
.more-how-we-work-contect h1{
   line-height: 1;
   padding-bottom: 1rem;
}
#footer{
   height: 65vh;
}
.footer-body{
   grid-template-columns: repeat(2, 1fr);
}
.footer-body .contact{
   padding: 2rem 0;
}
}
/* Taplt view end */
/* mobile view start */

@media (max-width:650px){
   #navbar img{
      padding: 5px 10px;
   }
   #navbar nav  ul {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      left: 0;
      flex-direction: column;
      background-color: var(--dark-violet);
      text-align: center;
      padding-top: 2rem;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;
   }
   #navbar nav  ul.active{
      opacity: 1;
      visibility:visible;
   }
   #navbar nav  ul li a{
      display: inline-block;
      margin: 15px 0;
      color: var(--light-gray);
   }
   nav ul li:last-child a{
      color: var(--light-gray);
      border: solid 1px var(--light-gray);
   }
   nav ul li:last-child a:hover{
      background-color: rgb(94, 88, 88);
   }

   .humMneu{
      display: block;
      right: 0;
   }
   .humMneu .bars , .humMneu .x-mark{
      display: none;
   }
   .humMneu .bars.active , .humMneu .x-mark.active{
      display: block;
   }
.container{
   max-width: 600px;
   margin: auto;
}
h1{
   font-size:45px;
}
h2{font-size: 40px;
}
#home .home-cotect img{
   height: auto;
   width: 300px;
}
.footer-head{
   gap: 1rem;
   flex-direction: column;
}
.footer-body{
   text-align: center;
   grid-template-columns: repeat(1, 1fr);
}
}

/* mobile view end */
/* responsive end */